<!DOCTYPE html> 
<html> 
<head> 
<title>Portfolio</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="authenticity_token" name="csrf-param" />
<meta content="YFL637T73IdmsFA5F4nYuTd2ZhDzerGb6urn1lXhRNE=" name="csrf-token" />

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 

<script src = "//code.jquery.com/jquery-latest.min.js"></script>
<script src = "//unslider.com/unslider.min.js"></script>

<script>
	$(function() {
		$('.banner').unslider();
	});
</script>

</head> 

<body> 

<div class = "banner">
	<ul>
		<li><img src = "https://www.dropbox.com/s/dziabfze75fcciu/2013-06-03%2017.34.13.jpg?dl=0g"></li>
		<li><img src = "https://www.dropbox.com/s/od4ek9ilgjl3ueg/2013-08-03%2014.17.44.jpg?dl=0"></li>
		<li><img src = "https://www.dropbox.com/s/1hnw7za62bidps3/2013-07-12%2007.17.00.jpg?dl=0"></li>
	</ul>
</div>

<div class = "container"
	<% @projects.each do |p| %>
		<%= link_to (p) do %>
			<div class ="project col-xs-4"> 
				<div class="thumbnail-header"> 
					<div class="thumbnail-header-btn"></div> 
					<div class="thumbnail-header-btn"></div> 
					<div class="thumbnail-header-btn"></div>
				</div>
				<img src= <%= p.screenshot %>> </img>
				<h3><%= p.title %> </h3>
				<p> <%= p.description %> </p>
			</div>
		<% end %>
	<% end %>
</div>

</body> 
</html>