<!DOCTYPE html> 
<html> 
<head> 
<title>Portfolio</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link href = "https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700" rel='stylesheet' type='text/css'> 
<link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"    rel="stylesheet" type="text/css" > 

<script src = "http://code.jquery.com/jquery-latest.min.js"></script>
<script src = "assets/unslider.min.js"></script>

<script>
$(document).ready(function(){
	$(function(){
		$('.banner').unslider({
			speed: 500,       	//  The speed to animate each slide (in milliseconds)
			delay: 3000,  		//  The delay between slide animations (in milliseconds)      		
			init: 0,     		// init delay, false for no delay (integer or boolean)
			pause: true,     	// pause on hover (boolean) 
			loop: true,      	// infinitely looping (boolean)
			keys: true,       	// keyboard shortcuts (boolean)
			dots: true,       	// display dots pagination (boolean)
			arrows: false,   	// display prev/next arrows (boolean)	
			prev: '&larr;',		// text or html inside prev button (string) 
			next: '&rarr;',		// same as for prev option
			fluid: false,      	// is it a percentage width? (boolean)
			starting: false,	// invoke before animation (function with argument)
			complete: function() {},   	// invoke after animation (function with argument)  
			items: '>ul', 		// slides container selector
			item: '>li',   		// slidable items selector
			easing: 'swing',	// easing function to use for animation
			autoplay: true 		// enable autoplay on initialisation
		});
	});
});
</script>



</head> 

<body>

	

	<div class = "banner">	
		<ul>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.33.31.png"></li>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.35.17.png"></li>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.36.25.png"></li>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.38.27.png"></li>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.39.52.png"></li>
			<li><img src = "https://dl.dropboxusercontent.com/u/422140/Screenshot%202015-05-08%2011.41.44.png"></li>
		</ul>
	</div>

	
	

<div class = "container"
	<% @projects.each do |p| %>
		<%= link_to (p) do %>
			<div class ="project col-xs-4"> 
				<div class="thumbnail-header"> 
					<div class="thumbnail-header-btn"></div> 
					<div class="thumbnail-header-btn"></div> 
					<div class="thumbnail-header-btn"></div>
				</div>
				<img src= <%= p.screenshot %>> </img>
				<h3><%= p.title %> </h3>
				<p> <%= p.description %> </p>
			</div>
		<% end %>
	<% end %>
</div>

</body> 
</html>