<!DOCTYPE html> 
<html> 
	<head> 
		<title>Portfolio</title> 

		<link href = "https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700" rel='stylesheet' type='text/css'> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
		<link data-turbolinks-track="true" href="/assets/application-f7aa79b389eed3447dbd88f8dcc0b59e.css" media="all" rel="stylesheet" /> 
		<script data-turbolinks-track="true" src="/assets/application-4fba09a36c46587a0f07211966615115.js"></script> 
		<meta content="authenticity_token" name="csrf-param" />
		<meta content="YFL637T73IdmsFA5F4nYuTd2ZhDzerGb6urn1lXhRNE=" name="csrf-token" />
		
	</head> 

	<body> 
		<div class="main home">
			<div class="jumbotron"> 
				<div class="container"> 
					<h2>Hello. My name is <span class="highlight">Ricardo Espinel</span> . I'm a Financial Advisor and build websites</h2> 
					<a class="btn right" href="portfolio">View my Work</a>
				</div> 
			</div> 
		</div> 
	</body> 
</html>