 <!DOCTYPE html> 
<html> 
<head> 
<title>Portfolio</title> 

<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 


<meta content="authenticity_token" name="csrf-param" />
<meta content="YFL637T73IdmsFA5F4nYuTd2ZhDzerGb6urn1lXhRNE=" name="csrf-token" />

</head> 

<body> 

<div class="main home">
	<div class="jumbotron"> 
		<div class="container"> 
			<h2>Hello. My name is <span class="highlight">Ricardo Espinel</span> . I'm a Financial Advisor and build websites</h2> 
			<a class="btn right" href="portfolio">View my Work</a>
		</div> 
	</div> 
</div> 

</body> 
</html>