// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin:0;							// The margin clears an area around an element (outside the border). The margin does not have a background color, 
										// and is completely transparent. The top, right, bottom, and left margin can be changed independently using separate
										// properties. A shorthand margin property can also be used, to change all margins at once.
	padding:0							// The padding clears an area around the content (inside the border) of an element. The padding is affected by the 
										// background color of the element. The top, right, bottom, and left padding can be changed independently using 
										// separate properties. A shorthand padding property can also be used, to change all paddings at once.
}

body, html {
	font-family:'Roboto', sans-serif;
	font-weight:300;					// Sets how thick or thin characters in text should be displayed: normal|bold|bolder|lighter|number|initial|inherit
	height:100%;						// Set the height and width of a paragraph.
										// The height property does not include padding, borders, or margins; it sets the height of the area inside the padding, 
										// border, and margin of the element!
	width: 100%;
}

.container{
	padding:0 200px 0 280px;
	width:100%
}

.main{
	width:100%
}

a.btn {									// Caracteristicas del boton normal
	background-color:rgba(0,0,0,0.9);
	border-radius:20;					// Redondea las esquinas del botón
	color:#fff;							// Color del texto
	font-size:18px;						// Tamaño de la letra dentro del botón
	font-weight:500;
	height:60px;						// Altura del boton
	line-height:60px;					// Altura de las líneas de texto en el boton 
	margin:40px 0px;					// Margen con respecto al container (?). 
	padding:0px;			
	transition:background-color .5s;
	width:200px
}

/* Header de la aplicación */

.menu ul {								// Lista de opciones del menú
	list-style:none;					// The list-style shorthand property sets all the list properties in one declaration. The properties that can be set, 
										// are (in order): list-style-type, list-style-position, list-style-image. If one of the values above are missing, 
										// e.g. "list-style:circle inside;", the default value for the missing property will be inserted, if any
	padding-left:0
}
	
.menu li {								// Cada uno de los elementos del menu
	display:inline;						// The display property specifies the type of box used for an HTML element. Default value. Displays an element as an 
										// inline element (like <span>)
	line-height:100px;					// Especifica la altura de la linea. line-height: normal|number|length|initial|inherit;			
	font-size:18px;
	font-weight:500;
	height:100px;						// Alto de la barra del menu
	margin:0 20px 0 0
}
	
.menu li a {
	color:#000							// Especifica el color de los textos del menú
}
		
.name h1 {								// Elemento h1 dentro de la clase name (Ricardo Espinel)				
	color:blue;
	font-size:18px;
	line-height:100px;
	height:100px;
	margin:0;
	text-align:right					// Alineación de texto a la derecha de la línea del header
}

/* Welcome Section */

.main .container {						// La clase container centra la página con respecto a la ventana del navegador
	margin:100px 0						// Margen Superior con respecto al Header del contenedor (container)
}

.main h2 {
	color:#000;							// Color del texto h2 dentro de la sección main
	font-size:48px;						// Tamaño de la letra en la sección h2
	line-height:56px;					// Separación de las líneas de texto
	text-align:right					// Alineación: left, center, right
}
	
.home h2
	{color:#fff}						//Le da al texto h2 en la sección main el color #fff (blanco) todo lo demás va con el color #000 definido en .main h2
	
a.btn:hover,.nav li a:hover,.nav-btn:hover {
	background-color:#cc6cff;			//Cuando el mouse pasa sobre el boton cambia su color a #cc6cff
	color:#fff;							//Color del texto del boton que también cambia
	transition:background-color .5s		//Tiempo que tarda el boton en cambiar una vez el mouse esta sobre él
}
	
.home .jumbotron {
	background: url(http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center; 
	background-size:cover;				// Puede ser: auto|length|cover|contain|initial|inherit. Cover scale the background image to be as large as possible
										// so that the background area is completely covered by the background image. Some parts of the background image
										// may not be in view within the background positioning area
	min-height:600px;					// Altura mínima que tiene la sección
	width:100%							// Anchura de la sección, si es menor a 100% no cubre toda la pantalla
}

/* Footer de la aplicación */

.footer	{
	background-color:#fff;		// Color del fondo del footer
	height:100px;				// Altura del footer
	text-align:right;			// Texto justificado a la derecha
	width:100%
}
	
.footer .social_media {			// Clase "Social Media"
	margin:65px 0 20px;			// Top: 65px, right & Left: 0px, Bottom: 20px
	width:100%
}
	
.social_media li {
	display:inline-block;		// Displays an element as an inline-level block container. The inside of this block is formatted as block-level box, 
								// and the element itself is formatted as an inline-level box
	height:24px;
	width:24px;
	margin:0 0 0 10px;
	text-align:left;
	text-indent:-9999px;		// The text-indent property specifies the indentation of the first line in a text-block.
}
	
.social_media li a {
	display:block;				// Displays an element as a block element (like <p>)
	height:24px;
	width:24px
}

/* Iconos de cada una de las redes sociales */
	
.github	{
	background-image: url (assets/github.png); // The background-image property sets one or more background images for an element. The background of an element 
										// is the total size of the element, including padding and border (but not the margin). By default, a background-image 
										// is placed at the top-left corner of an element, and repeated both vertically and horizontally.
	background-position:center center;	// The background-position property sets the starting position of a background image.
}
	
.linkedin {
	background-image: url(assets/linkedin.png);	// Imagenes en el directorio public/assets
	background-position:center center
}
	
.tumblr
	{background-image:url(/tumblr.svg);
	background-position:center center}
	
.twitter {
	background-image: url(assets/twitter.png);
	background-position:center center
}

.youtube {
	background-image: url(assets/youtube.png);
	background-position:center center
}
	
.vimeo {
	background-image:url(/vimeo.svg);
	background-position:center center
}
	
.instagram
	{background-image:url(/assets/instagram-057a090ac0e0184c68efc07e412eec3b.svg);
	background-position:center center}
	
.facebook
	{background-image:url(/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg);
	background-position:center center}
	
.pinterest
	{background-image:url(/pinterest.svg);
	background-position:center center}
	
.gplus
	{background-image:url(/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg);
	background-position:center center}

/* Frame de cada proyecto */

.portfolio .jumbotron{
	height:500px;
	overflow:hidden;
	padding:0;
	width:100%
}

.portfolio .banner{
	width:100%
}

.portfolio .banner{
	height:500px;
	overflow:hidden;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	transform-style:preserve-3d;
	width:100%
}

.banner img{
	position:relative;
	top:50%;
	transform:translateY(-50%);
	width:100%
}

.project,.project:hover{
	color:#000;
	margin:0 0 40px;
	text-decoration:none;
	transition:color .5s
}

.project:hover{
	color:#cc6cff
}

.project h3,.project p,.about h2,.about p{
	padding:0 20px 0
}

.project p{
	-webkit-box-orient:vertical;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:3;
	max-height:300px;
	overflow:hidden;
	text-overflow:ellipsis
}

.thumbnail-header {
	background-color:#eaeff4;			// Color de la franja superior del marco de cada proyecto
	display:block;						// block Displays an element as a block element (like <p>) 
	height:20px;						// Altura de 20 pixeles para la franja superior del header
	width:100%
}
	
.thumbnail-header-btn {					// Puntos blancos en el marco superior de cada proyecto
	background-color:#fff;
	border-radius:100%;
	float:left;
	height:10px;
	margin:5px 0 0 5px;
	width:10px
}

.thumbnail{
	border:0;
	border-radius:0;
	max-height:240px;
	padding:0;
	overflow:hidden
}
	
/* Display de cada proyecto */	
	
.about .thumbnail{
	max-height:400px
}

.about h2{
	margin:0 0 40px
}

.contact .row{
	margin:80px 0 0
}

.contact .col-md-2 a{
	display:block;
	height:80px;
	margin:0 auto 40px;
	text-indent:-9999px;
	width:80px
}

.highlight{
	background-color:#eaeff4;
	color:#000;
	padding:0 10px 0
}

.right{
	float:right
}

@media screen and (max-width: 800px){
	.container{
		padding:0 20px 0 100px;
		width:100%
	}
	.banner img{
		height:100%;
		width:auto
	}
	.contact .row:last-child{
		margin:0
	}
}
